[Unit]
Description=yafancontrol fan management service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/yafancontrol
Restart=always

[Install]
WantedBy=multi-user.target
